[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20.9.0"
  SECRETS_SCAN_OMIT_KEYS = "EMAIL_PASSWORD,EMAIL_USER,GOOGLE_CLIENT_ID,GOOGLE_CLIENT_SECRET,NEXTAUTH_SECRET,STRIPE_SECRET_KEY,MONGODB_URI"